name: lint
on: push
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: xt0rted/markdownlint-problem-matcher@v1
      - run: npm install -g markdownlint-cli
      - run: markdownlint **/*.md --ignore node_modules
